* {
    margin: 0;
    padding: 0;
}

.wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.445);
    z-index: -1;
    visibility: hidden;
}

body {
    overflow: hidden;
    background: url("../img/background.png") center repeat-x;
    background-size: 78%;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.content {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.content .search #text-input {
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 3%),
        -3px -2px 4px rgb(0 0 0 / 4%),
        2px -1px 4px rgb(0 0 0 / 4%),
        2px 2px 4px rgb(0 0 0 / 4%);
    font-family: 'Roboto', sans-serif;
    width: 500px;
    height: 40px;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 30px;
}

.content .icons {
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    /* display: inline-block; */
    margin-top: 30px;
    width: 500px;
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content .icons .frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content .icons .icon span {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.1s;
    visibility: hidden;
    width: 18px;
    height: 20px;
}

.content .icons .icon {
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 20px;
    position: relative;
}

.content .icons .icon:hover {
    background: rgba(185, 41, 241, 0.116);
}

.content .icons .icon:hover>img {
    transform: translateY(-10px);
}

.content .icons .icon:hover div::before {
    box-shadow: -50px 68px 40px 16px #555;
}

.content .icons .icon:hover>span {
    visibility: visible;
}

.content .icons .icon img {
    width: 35px;
    height: 35px;
    transition: all 0.2s ease-out;
}

.content .icons .icon div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 89px;
    right: 57px;
    bottom: 78px;
    background: transparent;
    box-shadow: -50px 75px 28px 7px #555;
    transform: rotateX(61deg);
    transition: all 0.2s ease-out;
    z-index: -1;
}

.content .icons .icon .title {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 600;
}

.settings {
    position: absolute;
    background: rgba(169, 143, 218, 0.438);
    width: 61px;
    height: 45px;
    top: 465px;
    left: 637px;
    border-radius: 50%;
    transform: rotateZ(-12deg);
    transition: all 0.2s ease-out;
    filter: blur(2px);
    cursor: pointer;
}

.settings:hover {
    background: rgba(250, 249, 250, 0.39);
}

.flow-window {
    z-index: 2;
    transition: width 0.3s, height 0.3s, visibility 0.3s;
    position: absolute;
    background: #f2f2f2;
    width: 0px;
    height: 0px;
    top: 117px;
    left: 475px;
    visibility: hidden;
    border-radius: 8px;
    /* transform: translate(-14%, -46%); */
}

.flow-window .flowFrame {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flow-window .add-icon-part {
    margin-bottom: 30px;
    user-select: none;
    transition: opacity 0.1s ease-in;
}

.flow-window .add-icon-part input {
    width: 200px;
    height: 30px;
    padding: 0 15px;
    outline: none;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
}

.flow-window .add-icon-part .add-button {
    display: inline-block;
    width: 80px;
    height: 30px;
    background: #dfcfff;
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.flow-window .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-shadow: 0 8px 19px -14px #000;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    user-select: none;
}


div#flow-select {
    position: absolute;
    /* padding: 0px; */
    background: #f1f1f1;
    left: 50%;
    display: none;
}

#flow-select ul {
    margin: 0;
    padding: 0;
}

#flow-select li {
    position: relative;
    list-style: none;
    background: #f1f1f1;
    width: 150px;
    height: 35px;
    font: 400 14px sans-serif;
    line-height: 35px;
    text-align: center;
    transition: all 0.2s;
    /* box-shadow: 0 0 10px 1px #5c5c5c7a; */
    margin: 2px 0;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

#flow-select li:hover {
    box-shadow: 0 1px 10px 1px #8f8f8f7a;
}

#close_button {
    position: absolute;
    left: 10px;
    top: 50%;
    background: #ff554f;
    border-radius: 50%;
    width: 16px;
    display: block;
    height: 16px;
    transform: translateY(-50%);
    transition: all 0.1s;

}

#close_button::before {
    content: '×';
    top: 50%;
    left: 4.3px;
    transform: translateY(-7.9px);
    position: absolute;
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    transition: all 0.1s;
    color: #ff554f;
}

#close_button:hover::before {
    color: #8e2119;
}